<tr>
  <td>
    {{id}}
  </td>
  <td>
    {{name}}
  </td>
  <td>
    {{cost}}
  </td>
  <td>
    {{health}}
  </td>
  <td>
    {{attack}}
  </td>
  <td>
    {{minion_type}}
  </td>
  <td>
    Not Implemented
  </td>
  <td>
    <button class='edit' data-id='{{id}}'>
      Edit
    </button>
    <button class='delete' data-id='{{id}}'>
      Delete
    </button>
  </td>
</tr>
