<tr>
  <td>
    <input type="text" name="id" disabled placeholder="id" value="{{id}}"/>
  </td>
  <td>
    <input type="text" name="name" placeholder="name" value="{{name}}"/>
  </td>
  <td>
    <input type="number" name="cost" placeholder="cost" value="{{cost}}"/>
  </td>
  <td>
    <input type="number" name="health" placeholder="health" value="{{health}}"/>
  </td>
  <td>
    <input type="number" name="attack" placeholder="attack" value="{{attack}}"/>
  </td>
  <td>
    <select name="type">
      {{#each types}}
        <option value="{{minion_type_id}}">{{minion_type}}</option>
      {{/each}}
    </select>
  </td>
  <td>
    <input type="text" name="effects" placeholder="Not implemented" disabled />
  </td>
  <td>
    {{#if id}}
      <input type="submit" value="Done" />
    {{else}}
      <input type="submit" value="Add" />
    {{/if}}
  </td>
</tr>
